:root {
  --color-anthracite-textes: #474747;
  --color-grey-bold-icons: #858585;
  --color-score-green-icons: #6cde20;
  --color-grey-icons: #b6b6b6;
  --color-score-grass-icons: #c1e01e;
  --color-score-yellow-icons: #ebc718;
  --color-score-orange-icons: #ed6711;
  --color-score-red-icons: #f00f0f;
  --color-grey-bold-textes: #6d6d6d;
  --color-yellow-icons: #f8d862;
  --color-white-couleur-primaire: #ffffff;
  --color-grey-ultra-couleur-primaire: #f5f5f5;
  --color-grey-light-couleur-primaire: #e5e5e5;
  --color-green-couleur-fonctionnelle: #7cd064;
  --color-yellow-couleur-fonctionnelle: #f8d862;
  --color-red-couleur-fonctionnelle: #e95d66;
  --color-blue-couleur-fonctionnelle: #33a0fa;
  --color-white-background: #ffffff;
  --color-grey-ultra-background: #f5f5f5;
  --color-grey-light-background: #e5e5e5;
  --color-grey-background: #b6b6b6;
  --color-soft-red-background: #ffe9e9;
  --color-soft-blue-background: #e9f7ff;
  --color-soft-yellow-background: #fffbdb;
  --color-indigo-couleur-fonctionnelle: #7b72f9;
  --color-grey-ultra-contour: #f5f5f5;
  --color-grey-contour: #b6b6b6;
  --color-grey-bold-background: #6d6d6d;
  --color-anthracite-474747: #474747;
  --color-grey-textes: #b6b6b6;
  --color-grey-light-textes: #e5e5e5;
  --color-white-textes-tons-foncés: #ffffff;
  --color-anthracite-icons: #4b4b4b;
  --color-grey-light-icons: #e5e5e5;
  --color-white-icons: #ffffff;
  --color-green-icons: #7cd064;
  --color-red-icons: #e95d66;
  --color-black-transparency-50-background: #000000;

  --font-size-tagline-14px-bold: 14px;
  --line-height-tagline-14px-bold: 16px;
  --font-weight-tagline-14px-bold: 700;
  --font-size-body-16px-light: 16px;
  --line-height-body-16px-light: 22px;
  --font-weight-body-16px-light: 300;
  --font-size-body-16px-regular: 16px;
  --line-height-body-16px-regular: 22px;
  --font-weight-body-16px-regular: 400;
  --font-size-body-16px-bold: 16px;
  --line-height-body-16px-bold: 22px;
  --font-weight-body-16px-bold: 700;
  --font-size-small-print-14px-regular: 14px;
  --line-height-small-print-14px-regular: 16px;
  --font-weight-small-print-14px-regular: 400;
  --font-size-form-label-16px-light: 16px;
  --line-height-form-label-16px-light: 22px;
  --font-weight-form-label-16px-light: 300;
  --font-size-form-label-16px-regular: 16px;
  --line-height-form-label-16px-regular: 22px;
  --font-weight-form-label-16px-regular: 400;
  --font-size-form-label-16px-bold: 16px;
  --line-height-form-label-16px-bold: 22px;
  --font-weight-form-label-16px-bold: 700;
  --font-size-description-16px-regular: 16px;
  --line-height-description-16px-regular: 22px;
  --font-weight-description-16px-regular: 400;
  --font-size-big-content-40px-regular: 40px;
  --line-height-big-content-40px-regular: 40px;
  --font-weight-big-content-40px-regular: 400;
  --font-size-big-content-40px-bold: 40px;
  --line-height-big-content-40px-bold: 40px;
  --font-weight-big-content-40px-bold: 700;
  --font-size-title-h0-40px-bold: 40px;
  --line-height-title-h0-40px-bold: 40px;
  --font-weight-title-h0-40px-bold: 700;
  --font-size-title-h1-28px-bold: 28px;
  --line-height-title-h1-28px-bold: 34px;
  --font-weight-title-h1-28px-bold: 700;
  --font-size-title-h2-24px-bold: 24px;
  --line-height-title-h2-24px-bold: 32px;
  --font-weight-title-h2-24px-bold: 700;
  --font-size-title-h3-20px-bold: 20px;
  --line-height-title-h3-20px-bold: 26px;
  --font-weight-title-h3-20px-bold: 700;
  --font-size-title-h4-h5-16px-bold: 16px;
  --line-height-title-h4-h5-16px-bold: 24px;
  --font-weight-title-h4-h5-16px-bold: 700;

  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-24: 24px;
  --spacing-32: 32px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-2xl: 24px;
  --radius-full: 9999px;

}
